<h1>Testing!</h1>

@section scripts {
<script src="/ngApp/app.js"></script>
}

<div class="row" ng-app="ApplicationDeveloper">
    <div ng-controller="TradeController">
        <!-- Here I would create an html table with the angular data in the trade controller registered in the app.js

            From there each column or "section" I would split the "fields" section in the tradecontroller and give each $scope option a particular sorting/searching method in which the ng-click on the table would correspond to that option. 

            -->
       

    </div>
</div>